[submodule "git-open"]
	path = paulirish/git-open
	url = https://github.com/paulirish/git-open.git
[submodule "zsh-you-should-use"]
	path = MichaelAquilina/zsh-you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use
[submodule "babarot/enhancd"]
	path = babarot/enhancd
	url = https://github.com/babarot/enhancd
[submodule "wofr06/lesspipe"]
	path = wofr06/lesspipe
	url = https://github.com/wofr06/lesspipe
	branch = lesspipe
[submodule "hlissner/zsh-autopair"]
	path = hlissner/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "zsh-users/zsh-syntax-highlighting"]
	path = zsh-users/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh-users/zsh-history-substring-search"]
	path = zsh-users/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh-users/zsh-completions"]
	path = zsh-users/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh-users/zsh-autosuggestions"]
	path = zsh-users/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "z-shell/zsh-navigation-tools"]
	path = z-shell/zsh-navigation-tools
	url = https://github.com/z-shell/zsh-navigation-tools
[submodule "getantidote/use-omz"]
	path = getantidote/use-omz
	url = https://github.com/getantidote/use-omz
